openapi: 3.0.0
info:
  title: Ubiquitous Chainsaw Profiles API
  description: >
    REST API for profile management with GitHub OAuth authentication, natural
    language search, CSV/JSON export, and CLI integration.


    ## Authentication

    Most endpoints require a Bearer token obtained via the GitHub OAuth flow.
    To authenticate:

    Open `/auth/github` **in a browser tab** to start the OAuth flow. 
    After authorizing, you will receive an `access_token` and `refresh_token`. 
    Click **Authorize** above and enter `Bearer <your_access_token>`.


    > **Note:** The `/auth/github` and `/auth/github/callback` endpoints perform
    > browser redirects and **cannot be tested via the "Try it out" button**.
    > Open them directly in your browser instead.
  version: 1.0.0

servers:
  - url: https://ubcs.braintext.io
    description: Production
  - url: http://localhost:3000
    description: Development

tags:
  - name: Authentication
    description: GitHub OAuth login, token refresh, and logout
  - name: Profiles
    description: CRUD operations and search/export for user profiles
  - name: Users
    description: Authenticated user account information
  - name: Classification
    description: Name classification utility

paths:
  /auth/github:
    get:
      tags:
        - Authentication
      summary: Initiate GitHub OAuth
      description: >
        Redirects the browser to GitHub's OAuth authorization page.


        **Cannot be tested here.** Swagger UI uses `fetch()` which cannot follow
        cross-origin redirects to GitHub. Open this URL directly in a browser tab:
        `https://ubcs.braintext.io/auth/github`
      responses:
        '302':
          description: Redirect to GitHub OAuth authorization page

  /auth/github/callback:
    get:
      tags:
        - Authentication
      summary: GitHub OAuth callback (Web)
      description: >
        GitHub redirects here after the user authorizes the app. Sets
        `access_token` and `refresh_token` as HTTP-only cookies and redirects
        the browser to the app.


        **Not intended to be called directly.** This endpoint is part of the
        OAuth redirect flow and is handled automatically by GitHub.
      parameters:
        - name: code
          in: query
          required: true
          description: Temporary authorization code provided by GitHub.
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: CSRF state token generated at the start of the OAuth flow.
          schema:
            type: string
      responses:
        '302':
          description: >
            Redirects to the app with `access_token` and `refresh_token` set
            as HTTP-only cookies.

  /auth/github/cli/callback:
    post:
      tags:
        - Authentication
      summary: GitHub OAuth callback (CLI)
      description: >
        Used by the CLI client to exchange a GitHub authorization code for tokens.
        Accepts the code and PKCE code verifier, returns `access_token` and
        `refresh_token` in the response body instead of setting cookies.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - code_verifier
              properties:
                code:
                  type: string
                  description: Temporary authorization code provided by GitHub.
                code_verifier:
                  type: string
                  description: PKCE code verifier generated by the CLI before starting the flow.
      responses:
        '200':
          description: Tokens issued successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: >
        Issues a new `access_token` using a valid `refresh_token`. Use this
        when the access token has expired rather than re-running the full
        OAuth flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: A valid refresh token previously issued by this API.
      responses:
        '200':
          description: New access token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
        '401':
          description: Refresh token is missing, invalid, or expired.

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout
      description: >
        Invalidates the current session and clears authentication cookies.
        Requires a valid Bearer token.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out.
        '401':
          description: Missing or invalid authorization token.

  /api/profiles:
    get:
      tags:
        - Profiles
      summary: List profiles
      description: >
        Returns a paginated list of all profiles. Results are cached in Redis;
        cache is invalidated on writes. Requires authentication.
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (1-based). Defaults to 1.
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of profiles per page. Defaults to 20.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Paginated list of profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
                  page:
                    type: integer
                  limit:
                    type: integer
                  total:
                    type: integer
        '401':
          description: Missing or invalid authorization token.

    post:
      tags:
        - Profiles
      summary: Create profile
      description: >
        Creates a new profile. Requires Admin role. Providing a duplicate
        email returns `409 Conflict`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                  description: Full name of the profile owner.
                  example: Jane Smith
                email:
                  type: string
                  format: email
                  description: Unique email address for the profile.
                  example: jane@example.com
      responses:
        '201':
          description: Profile created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Missing or invalid request body fields.
        '401':
          description: Missing or invalid authorization token.
        '403':
          description: Authenticated user does not have Admin role.
        '409':
          description: A profile with this email already exists.

  /api/profiles/search:
    get:
      tags:
        - Profiles
      summary: Search profiles
      description: >
        Performs a natural language search across profile names, emails, and
        other indexed fields. Results are ranked by relevance. Requires
        authentication.
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          description: Search query string (natural language supported).
          schema:
            type: string
            example: software engineer Lagos
      responses:
        '200':
          description: Matching profiles ranked by relevance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
        '400':
          description: Query parameter `q` is missing.
        '401':
          description: Missing or invalid authorization token.

  /api/profiles/export:
    get:
      tags:
        - Profiles
      summary: Export profiles
      description: >
        Downloads all profiles as a file. Requires Admin role.
        Supported formats are `csv` and `json`. Defaults to `json` if `format`
        is omitted.
      security:
        - bearerAuth: []
      parameters:
        - name: format
          in: query
          description: Output format for the export file.
          schema:
            type: string
            enum: [csv, json]
            default: json
      responses:
        '200':
          description: File download containing all profiles.
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'
        '401':
          description: Missing or invalid authorization token.
        '403':
          description: Authenticated user does not have Admin role.

  /api/profiles/{id}:
    get:
      tags:
        - Profiles
      summary: Get profile by ID
      description: Returns a single profile by its numeric ID. Requires authentication.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Numeric ID of the profile.
          schema:
            type: integer
            example: 42
      responses:
        '200':
          description: Profile found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Missing or invalid authorization token.
        '404':
          description: No profile found with the given ID.

    delete:
      tags:
        - Profiles
      summary: Delete profile
      description: >
        Permanently deletes a profile by ID. Requires Admin role. This action
        is irreversible.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Numeric ID of the profile to delete.
          schema:
            type: integer
            example: 42
      responses:
        '200':
          description: Profile deleted successfully.
        '401':
          description: Missing or invalid authorization token.
        '403':
          description: Authenticated user does not have Admin role.
        '404':
          description: No profile found with the given ID.

  /api/users/me:
    get:
      tags:
        - Users
      summary: Get current user
      description: >
        Returns the GitHub profile and role information for the currently
        authenticated user. Useful for confirming token validity and checking
        whether the user has Admin privileges.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Authenticated user's account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Missing or invalid authorization token.

  /api/classify:
    get:
      tags:
        - Classification
      summary: Classify name
      description: >
        Analyzes a given name and returns metadata such as likely gender and
        ethnicity. Does not require authentication.
      parameters:
        - name: name
          in: query
          required: true
          description: The name to classify.
          schema:
            type: string
            example: Oluwaseun Adeyemi
      responses:
        '200':
          description: Classification result for the given name.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  gender:
                    type: string
                    example: male
                  ethnicity:
                    type: string
                    example: Yoruba
        '400':
          description: Query parameter `name` is missing.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Pass your access token as `Bearer <token>` in the Authorization header.
        Obtain a token by completing the GitHub OAuth flow via `/auth/github`.

  schemas:
    Profile:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
        name:
          type: string
          description: Full name.
        email:
          type: string
          format: email
          description: Unique email address.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the profile was created.

    User:
      type: object
      properties:
        id:
          type: integer
          description: Internal user ID.
        github_id:
          type: integer
          description: GitHub user ID.
        username:
          type: string
          description: GitHub login username.
        role:
          type: string
          enum: [user, admin]
          description: Role assigned within this API.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of account creation.
